@model Avaliacao.Models.Aluno

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Nome</li>
    <li>@Model.Cpf</li>
    <li>@Model.TipoDeAssociacao.Nome</li>
    <li>@Model.Faixa.Nome</li>
</ul>

